@keyframes showbar {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}

@keyframes hidebar {
  from {
    width: 15%;
  }
  to {
    width: 0%;
  }
}

.request-bar-div {
  display: flex;
  height: fit-content;
  width: 15%;
  background-color: rgb(103, 118, 214);
}

.active {
  animation: showbar 200ms ease-in 0ms 1 both;
}

.inactive {
  animation: hidebar 200ms ease-in 0ms 1 both;
}
